.suite, .suite-test-cases {
    display: flex;
    flex-direction: column;
}
.suite{
    width: 100%;
    height: fit-content;
}
.suite-row, .test-case-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: .25rem 1rem;
    cursor: pointer;
}
.suite-row {
    background-color: #bdbdbd;
    border: 1px solid black;
    border-bottom: none;
}
.suite:nth-last-child(1) .suite-row{
    border-bottom: 1px solid black;
}

.suite-row:hover{
    background-color: #b0b0b0;
}
.suite-test-cases {
    border: 1px solid black;
    border-bottom: none;
}
.test-case-row {
    background-color: #e0e0e0;
    border-bottom: 1px solid black;
}
.test-case-row.passed {
    cursor: default;
}
.test-case:nth-last-child(1) .test-case-row{
    border-bottom: none;
}
.test-case-row:hover{
    background-color: #d0d0d0;
}