{% extends 'game_template.html' %}
{% block title %}Home{% endblock %}
{% block script %}
    <script src="{{ url_for('static', filename='js/gotta_move_fast.js') }}" defer></script>
{% endblock %}
{% block style %}
    <style type="text/css">
        body {
            background: linear-gradient({{ game_page.game_info.bg_rot }}deg, {{ game_page.game_info.bg_color1 }}, {{ game_page.game_info.bg_color2 }});
        }
        .circle {
            position: absolute;
        }
        .game-title {
            color: {{ game_page.game_info.title_color }};
            text-emphasis-style: {{ game_page.game_info.title_style | safe }};
        }
        .game-title::after {
            content: ' {{ game_page.game_info.title }}';
            text-emphasis-style: {{ game_page.game_info.title_style | safe }};
        }
        

        #circle-grid {
            display: grid;
            grid-template-columns: repeat(5, 20%);
            grid-template-rows: repeat(5, minmax(100px, 20%));
            height: 100%;
            width: 100%;
            align-items: center;
            box-sizing: border-box;
            position: absolute;
            top: 0;
            left: 0;
        }


        .circle {
        border-color: transparent;
        justify-self: center; 
        align-self: center;   
        }

        .circle-wrapper.slide {
        animation: slideSideToSide 4.5s infinite ease-in-out; /* First animation */
        --side-to-side-amplitude: 10vw;
        }
        .circle.slide {
        animation: slideUpAndDown 2.55s infinite ease-in-out; /* First animation */
        --up-and-down-amplitude: min(100px, 10vh);
        }

        @keyframes slideSideToSide {
        0% {
            transform: translateX(calc(-1*var(--side-to-side-amplitude))); /* Move to the left */
        }
        50% {
            transform: translateX(var(--side-to-side-amplitude)); /* Move to the right */
        }
        100% {
            transform: translateX(calc(-1*var(--side-to-side-amplitude))); /* Return to the left */
        }
        }

        @keyframes slideUpAndDown {
        0% {
            transform: translateY(calc(-1 * var(--up-and-down-amplitude)));
        }
        50% {
            transform: translateY(var(--up-and-down-amplitude)); 
        }
        100% {
            transform: translateY(calc(-1 * var(--up-and-down-amplitude)));
        }
        }

    </style>        
{% endblock %}
{% block game_title %}Gotta Move Fast{% endblock %}
{% block game_content %}
    <div id="circle-grid">
        <div class="circle-wrapper" id="circle-1"><div class='circle'></div></div>
    </div>
{% endblock %}