{% from 'skin_macros/skin-mapper.html' import render_skin %}
<!DOCTYPE html>
<html>
    <head>
        <title>Home</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="{{ url_for('static', filename='js/skins.js')}}"></script>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Ceviche+One&family=Fugaz+One&family=Itim&family=Monoton&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Pacifico&family=Special+Elite&display=swap" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/theme.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/skins.css') }}">
    </head>
    <body>
        <div class="main">
            <div class="user-points">
                <h1>Your Points: {{ points }}</h1>
            </div>
            <div class="skins-container-border">
                <button id='user-skin-btn'>View My Skins</button>
                <div class="skins-container">
                    {% for skin in all_skins %}
                        <div 
                            class="skin{{ " user-choice" if skin.user_choice else "" }}{{ " not-available" if skin.points > points else "" }}{{ " user-skin" if skin.user_skin else "" }}"
                            {% if skin.points <= points and not skin.user_choice %}
                                {% if skin.user_skin %}
                                    onclick="showSelectSkinModal('{{ skin.id}}')"
                                {% else %}
                                    onclick="showPurchaseSkinModal('{{ skin.id}}')"
                                {% endif %}
                            {% endif %}
                        >
                            <h2 class='skin-name{{ " user-skin" if skin.user_skin else "" }}{{ " not-available" if skin.points > points else "" }}'>{{ skin.name }}</h2>
                            {{ render_skin('all skins', skin) }}
                            <h2 class='points{{ " user-skin" if skin.user_skin else "" }}{{ " not-available" if skin.points > points else "" }}'><span class='point-label'>Points: </span>{{ skin.points if not skin.user_skin else '--' }}</h2>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="modal-backdrop" id="modal-backdrop"></div>
        <div class="modal" id="purchase-skin-modal">
            <span class="close" onclick="closePurchaseSkinModal()">&times;</span>
            <h2 class='modal-title'>Purchase Skin</h2>
            <div class="skin-container">
                <h2 class='skin-name'></h2>
                <div class="skin">
                </div>
                <h2 class='points'></h2>
            </div>
            <button onclick='purchaseSkin()'>Purchase</button>
        </div>
        <div class="modal" id="purchase-skin-modal">
            <span class="close" onclick="closePurchaseSkinModal()">&times;</span>
            <h2 class='modal-title'>Purchase Skin</h2>
            <div class="skin-container">
                <div class="skin"></div>
            </div>
            <button onclick='purchaseSkin()'>Purchase</button>
        </div>
        <div class="modal" id="select-skin-modal">
            <span class="close" onclick="closeSelectSkinModal()">&times;</span>
            <h2 class='modal-title'>Change Skin</h2>
            <div class="skin-container">
                <div class="skin"></div>
            </div>
            <button onclick='selectSkin()'>Change</button>
        </div>
    </body>
    <script>
        const skins = {{ all_skins | tojson | safe }};
        add_event_listeners();
    </script>
</html>