{% from 'skin_macros/skin-mapper.html' import render_skin %}
<!DOCTYPE html>
<html>
    <head>
        <title>Home</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="{{ url_for('static', filename='js/app.js')}}"></script>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Ceviche+One&family=Fugaz+One&family=Itim&family=Monoton&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Pacifico&family=Special+Elite&display=swap" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/theme.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/skins.css') }}">
    </head>
    <body>
        <div class="main">
            <div class="user-points">
                <h1 class='points'>Your Points: {{ points }}</h1>
            </div>
            <div class="skins-container">
                {% for skin in all_skins %}
                    <div class="skin">
                        {{ render_skin(skin.type, skin.data, 'all skins', skin.user_choice) }}
                        <div>
                            <h2 class='points {{ "user-choice" if skin.user_choice else ""}}'><span class='point-label'>Points: </span>{{ skin.points if not skin.user_choice else '--' }}</h2>
                            <h2 class='skin-name {{ "user-choice" if skin.user_choice else ""}}'>{{ skin.name }}</h2>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </body>
    <script>
        $(document).ready(function() {
            // Add hover effect to both .skin-name and .dot
            $('.dot').hover(
                function() {
                    // On hover: scale both elements
                    if(!$(this).hasClass('user-choice')) {
                        $(this).parent().css('transform', 'scale(1.05)');
                    }
                },
                function() {
                    // On hover out: reset scale
                    $(this).parent().css('transform', 'scale(1)');
                }
            );
            $('.skin-name, .points').hover(
                function() {
                    // On hover: scale both elements
                    if(!$(this).hasClass('user-choice')) {
                        $(this).parent().parent().css('transform', 'scale(1.05)');
                    }
                },
                function() {
                    // On hover out: reset scale
                    $(this).parent().parent().css('transform', 'scale(1)');
                }
            );
        });
    </script>
</html>