{% macro display_suite(type, suites) %}
    <h2 class='test-type'>{{ type }} Tests</h2>
    <div class='suites'>
        <div class="suite-row header">
            <p class="suite-name">Name</p>
            <p class="suite-num-tests">Num Tests</p>
            <p class="suite-file">File</p>
            <p class="suite-time">Time</p>
            <p class="suite-timestamp">Timestamp</p>
            <p class="suite-failures">Failures</p>
            <p class="suite-errors">Errors</p>
            <p class="suite-skipped">Skipped</p>
        </div>
        {% for suite in suites %}
            <div class='suite'>
                <div class="suite-row" onclick="toggleSuite(this.parentNode)">
                    <p class="suite-name">{{ suite.name }}</p>
                    <p class="suite-num-tests">{{ suite.num_tests }}</p>
                    <p class="suite-file">{{ suite.file }}</p>
                    <p class="suite-time">{{ suite.time }}s</p>
                    <p class="suite-timestamp">{{ suite.timestamp }}</p>
                    <p class="suite-failures"
                        {% if suite.failures > 0 %} style="color:red; font-weight:bold;" {% endif %}
                    >{{ suite.failures }}</p>
                    <p class="suite-errors"
                        {% if suite.errors > 0 %} style="color:red; font-weight:bold;" {% endif %}
                    >{{ suite.errors }}</p>
                    <p class="suite-skipped"
                        {% if suite.skipped > 0 %} style="color:orange; font-weight:bold;" {% endif %}
                    >{{ suite.skipped }}</p>
                    <div class="suite-caret">
                        <i class="fas fa-caret-right"></i>
                    </div>
                </div>
                <div class="suite-test-cases" style="display:none;">
                    <div class="test-case-row header">
                        <p class="test-case-name">Name</p>
                        <p class="test-case-time">Time</p>
                        <p class="test-case-file">File</p>
                        <p class="test-case-line">Line</p>
                        <p class="test-case-status">Status</p>
                    </div>
                    {% for test_case in suite.test_cases %}
                        <div class="test-case">
                            <div class="test-case-row{{ ' passed' if not test_case.failure else '' }}"
                            {% if test_case.failure %} onclick="openFailure('{{ test_case.failure.id }}')" {% endif %}
                            >
                                <p class="test-case-name">{{ test_case.name }}</p>
                                <p class="test-case-time">{{ test_case.time }}s</p>
                                <p class="test-case-file">{{ test_case.file }}</p>
                                <p class="test-case-line">{{ test_case.line_no }}</p>
                                <div class="test-case-status">
                                    {% if test_case.failure %}
                                    <i class="fa-solid fa-x"></i>
                                    {% else %}
                                    <i class="fa-solid fa-check"></i>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        {% endfor %}
    </div>
{% endmacro %}


<!DOCTYPE html>
<html>
    <head>
        <title>Unit Test Report - {{ current_date }}</title>
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="../static/styles.css">
        <script src="../static/app.js"></script>
    </head>
    <body>
        <h1>Unit Test Report</h1>
        <div class='date-selection'>
            <h2>Generated On:</h2>
            <select id='date-select' onchange="changeDate()">                
                <option value='' disabled selected>Select Date</option>
                {% for date in all_dates %}
                <option value="{{ date }}">{{ date }}</option>
                {% endfor %}
            </select>
        </div>
        {{ display_suite('Unit', unit_test_suites) }}
        {{ display_suite('Integration', integration_test_suites) }}
        <div id="modal-backdrop" onclick="closeFailure()"></div>
        <div id="failure-modal">
            <span class="close" onclick="closeFailure()"><i class="fa-solid fa-xmark"></i></span>
            <h2>Failure</h2>
            <div class = 'failure-info'>
                <div class="failure-header">
                    <p id="test-name"></p>
                    <p id="test-time"></p>
                    <p id="test-file"></p>
                </div>
                <div class="traceback-info">
                    <div class="label-text">
                        <label for="test-type:">Type:</label>
                        <p id="test-type"></p>
                    </div>
                    <div class="label-text">
                        <label for="test-message:">Message:</label>
                        <p id="test-message"></p>
                    </div>
                    <div class="label-text traceback">
                        <label for="test-traceback:">Traceback:</label>
                        <p id="test-traceback"></p>
                    </div>
                </div>
            </div>
        </div>
    </body>
    <script>
        const failures = {{ failures | safe }};
        selectDate('{{ current_date | safe}}');
    </script>
</html>