<!DOCTYPE html>
<html>
    <head>
        <title>500 - Internal Error</title>
        <style>
            body {
                height: 100vh;
                overflow: hidden;
                font-family: Arial, sans-serif;
                text-align: center;
                display: flex;
                flex-direction: column;
                justify-content: center;
            }
            h1 {
                color: #333;
                font-size: 2em;
            }
            p {
                color: #666;
                font-size: 1.2em;
            }
        </style>
    </head>
    <body>
        <h1>500 - Internal Server Error</h1>
        <p>{{message}}</p>
        <a href="/">Go back to the home page</a>
    </body>
</html>