body {
    background: linear-gradient(45deg, #f3ec78, #af4261);
}
.circle {
    position: absolute;
}
.game-title {
    color: #ffe08b;
    text-emphasis-style: dot open;
}
.game-title::after {
    content: 'The First One';
    text-emphasis-style: dot open;
}
