body {
    background: linear-gradient(115deg, #b06ffa, #4a69f7);
}
.circle {
    position: absolute;
}
.game-title {
    color: #84dcff;
    text-emphasis-style: dot open;
}
.game-title::after {
    content: 'Shrinking Circle';
    text-emphasis-style: dot open;
}

.circle.shrink {
    animation: shrinkAnimation 6s linear;
}


@keyframes shrinkAnimation {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(0);
    }
}