
.site-name {
    font-family: "Fugaz One", serif;
    color: #0075e2;
    font-size: 3.5rem;
    box-shadow: 0 0 7.5px rgb(255 255 255);
    padding: .5rem .75rem;
    border-radius: 5px;
    text-shadow: 3px 3px rgb(0 255 242 / 75%);
    background-color: #1d1d1d;
}