
.main {
    padding: 1.5rem;
}
.user-points {
    border: 1.5px solid gray;
    padding: 1rem 2rem;
    border-bottom: none;
}
.skins-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
    border: 1.5px solid gray;
    border-radius: 3px;
    padding: 1.5rem;
    width: calc(100% - 3rem);
    height: 100%;
}
.skin {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1.5rem;
    gap: 1rem;
}

.skin-name, .points {
    color: white;
    margin: 0;
    font-size: .85rem;
    text-align: center;
    cursor: pointer;
}
.points {
    margin-bottom: 5px;
}
.skin-name.user-choice, .points.user-choice {
    color: #efec48;
}


.dot{
    width: 17.5px;
    height: 17.5px;
    border-radius: 50%;
    border: 1.5px solid white;
    cursor: pointer;
}

.dot.user-choice {
    border-color:#efec48;
}