<!DOCTYPE html>
<html>
    <head>
        <title>Home</title>
        <script src="{{ url_for('static', filename='js/app.js')}}"></script>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
    </head>
    <body>
        <div class="main">
            <h1>Home</h1>
            <div class="pages">
                <a href="{{ url_for('first_circle') }}">
                    <div class="circle-page">
                        <div class='img-wrapper'>
                            <img src="{{ url_for('static', filename='imgs/firstCircle.png') }}">
                            <div class='img-overlay'></div>
                        </div>
                        <h2>The First One</h2>
                    </div>
                </a>
                <a href="{{ url_for('second_circle') }}">
                    <div class="circle-page">
                        <div class='img-wrapper'>                            
                            <img src="{{ url_for('static', filename='imgs/secondCircle.png') }}">
                            <div class='img-overlay'></div>
                        </div>
                        <h2>Gotta Move Quickly</h2>
                    </div>
                </a>
                <a href="{{ url_for('disappearing_circle') }}">
                    <div class="circle-page">
                        <div class='img-wrapper'>
                            <img src="{{ url_for('static', filename='imgs/disappearingCircle.png') }}">
                            <div class='img-overlay'></div>
                        </div>
                        <h2>Disappearing Circles</h2>
                    </div>
                </a>
                <a href="{{ url_for('disappearing_dot') }}">
                    <div class="circle-page">
                        <div class='img-wrapper'>
                            <img src="{{ url_for('static', filename='imgs/disappearingDot.png') }}">
                            <div class='img-overlay'></div>
                        </div>
                        <h2>Disappearing Dot</h2>
                    </div>
                </a>
                <a href="{{ url_for('shrinking_circle') }}">
                    <div class="circle-page">
                        <div class='img-wrapper'>
                            <img src="{{ url_for('static', filename='imgs/shrinkingCircle.png') }}">
                            <div class='img-overlay'></div>
                        </div>
                        <h2>Shrinking Circles</h2>
                    </div>
                </a>
            </div>
        </div>
    </body>
</html>