<!DOCTYPE html>
<html>
    <head>
        <title>Home</title>
        <script src="{{ url_for('static', filename='js/app.js')}}"></script>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
    </head>
    <body>
        <div class="main">
            <h1>Home</h1>
            <div class="pages">
                {% for game in games %}
                    <a href="{{ url_for(game) }}">
                        <div class="circle-page">
                            <div class='img-wrapper'>
                                <img src="{{ url_for('static', filename='imgs/' + game +'.png') }}">
                                <div class='img-overlay'></div>
                            </div>
                            <h2>{{ game_info[game].title }}</h2>
                        </div>
                    </a>
                {% endfor %}
            </div>
        </div>
    </body>
</html>