<!DOCTYPE html>
<html>
    <head>
        <title>Home</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="{{ url_for('static', filename='js/app.js')}}"></script>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Ceviche+One&family=Fugaz+One&family=Itim&family=Monoton&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Pacifico&family=Special+Elite&display=swap" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/button_style.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/logo_style.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/profile.css') }}">
    </head>
    <body>
        <div class="main">
            <div class='auth-btns'>
                {% if not logged_in %}
                    <button onClick="window.location.href='/login'">Login</button>
                    <button onClick="window.location.href='/register'">Register</button>
                {% else %}
                    <button onClick="logout()">Logout</button>
                    <button onClick="get_profile()">Profile</button>
                {% endif %}
            </div>
            {% if logged_in %}
                <div id='modal-backdrop'></div>
                <div class='profile-modal' id='profile-modal'>
                    <button class='profile-close-btn' onClick='close_profile_modal()'>&times;</button>
                    <div class='profile-header'>
                        <h1 id='profile-username'></h1>
                        <h2>Joined <span id='profile-created'></span></h2>
                    </div>
                    <div class="line-break"></div>
                    <div class='profile-scores'>
                        <h2>Top 10 Scores:&nbsp;</h2><h2 id='profile-top10'></h2>
                    </div>
                    <div class='profile-scores'>
                        <h2>Points:&nbsp;</h2><h2 id='profile-points'></h2>
                    </div>
                    <div class="line-break"></div>
                    <div class='profile-top3'>
                        <h2>Top 3 Scores</h2>
                        <div id='profile-top3'></div>
                    </div>
                </div>
            {% endif %}
            <h1 class='site-name'>Keyboard Games</h1>
            <div class="pages">
                {% for game in games %}
                    <a href="/games/{{ game }}">
                        <div class="circle-page">
                            <div class='img-wrapper'>
                                <img src="{{ url_for('static', filename='imgs/' + game +'.png') }}">
                                <div class='img-overlay'></div>
                            </div>
                            <h2>{{ game_info[game].title }}</h2>
                        </div>
                    </a>
                {% endfor %}
            </div>
        </div>
    </body>
</html>