<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="{{ url_for('static', filename='js/login.js')}}"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ceviche+One&family=Fugaz+One&family=Itim&family=Monoton&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Pacifico&family=Special+Elite&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/login.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/button_style.css') }}">
</head>
<body>
    <div class='page'>
        <button class='back-btn' onClick="window.location.href='/'">Back to Games</button>
        <h1 class='site-name'>Keyboard Games</h1>
        <div class='auth-form' id='login-form'>
            <h1>Login</h1>
            <form>
                <input type='text' name='username' placeholder='Username'>
                <input type='password' name='password' placeholder='Password'>
                <button onClick="login()">Login</button>
            </form>
            <h2>Don't have an account? <span onClick="showForm('register')">Register</span></h2>
        </div>
        <div class='auth-form' id='register-form'>
            <h1>Register</h1>
            <form>
                <input type='text' name='username' placeholder='Username'>
                <input type='email' name='email' placeholder='Email'>
                <input type='text' name='first_name' placeholder='First Name'>
                <input type='text' name='last_name' placeholder='Last Name'>
                <input type='password' name='password' placeholder='Password'>
                <button onClick="register()">Register</button>
            </form>
            <h2>Already have an account? <span onClick="showForm('login')">Login</span></h2>
        </div>
    </div>
</body>
{% if page == 'register' %}
<script>
    showForm('register');
</script>
{% endif %}
</html>