{% extends 'game_template.html' %}
{% block title %}Home{% endblock %}
{% block script %}
    <script src="{{ url_for('static', filename='js/secondCircle.js') }}" defer></script>
{% endblock %}
{% block style %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/secondCircle.css') }}">
{% endblock %}
{% block game_title %}Gotta Move Quickly{% endblock %}
{% block game_content %}
    <div id="circle-grid">
        <div class="circle-wrapper" id="circle-1"><div class='circle'></div></div>
    </div>
{% endblock %}